﻿@model IEnumerable<TeineMVC.Models.Inimene>

@{
    ViewBag.Title = "Nimekiri";
}

<h2>Nimekiri</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Eesnimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perenimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Eesnimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perenimi)
        </td>
        <!--See on HTML kommentaar-->
        <td>
            @*Järgmised kaks rida on ühesugused*@
            <a href="/Home/Edit/@item.Nr">Muuda</a>
            @Html.ActionLink("Edit", "Edit", new { id=item.Nr }) |
            @Html.ActionLink("Details", "Details", new { id=item.Nr }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Nr })
        </td>
    </tr>
}

</table>
