﻿@model IEnumerable<TeineMVC.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
            @*siia tahan miskit lisada*@<br/>
            Kõige kallim: @(item.Products.OrderBy(x => x.UnitPrice).LastOrDefault()?.ProductName)
            @*@String.Join(", ", item.Products.Select(x => x.ProductName))*@
            <br />Selle kategooria tooted:
            @foreach(var x in item.Products)
            {
                @x.ProductName<br/>
            }
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>*@
        @*<td><img src="/Categories/Image/@item.CategoryID" height="80"/></td>*@
        <td><img src="@Url.Action("Image", "Categories", new { id = item.CategoryID })" height="80"/></td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
