﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="TeineVeeb.WebForm1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Hennu tehtud leht</h1>

    <asp:ListBox ID="ListBox1" runat="server" AutoPostBack="true" >
        <asp:ListItem Text="Autod">Autod</asp:ListItem>
        <asp:ListItem Text="Lennukid" Selected="True">Lennukid</asp:ListItem>
        <asp:ListItem Text="Laevad">Laevad</asp:ListItem>

    </asp:ListBox>
    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
</asp:Content>
